.main {
  width: 100%;
  min-height: 100vh;
  padding: 3rem;
  padding-top: 8rem;
  background-color: var(--lila-fondo);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .layout {
    width: 100%;
    min-height: 90vh;
    padding: 5rem;

    background-color: var(--blanco);
    border-radius: 3rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .selectSection {
      width: 65%;

      display: flex;
      flex-direction: column;
      align-items: center;
    
      .header {
        margin-bottom: 3rem;
      }

      .filters {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;
        width: 100%;
      }

      .materialsList {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;
        width: 100%;
      }
    }

    .selectedSection {
      margin-top: 5rem;
      width: 30%;
      min-height: 35rem;
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      position: relative;

      .selectedMaterials {
        background: var(--gris-claro);
        border-radius: 2rem;
        padding: 2rem;
        width: 100%;
        min-height: 40rem;
        overflow-y: auto;
        position: relative;
        z-index: 9;

        .selectedText {
          font-size: 1.8rem;
          color: var(--lila-oscuro);
        }

        .noMaterials {
          display: flex;
          flex-direction: column;
          align-items: center;
          color: var(--lila-medio);
          font-size: 1.5rem;
          margin-top: 2rem;

          .icon {
            font-size: 3rem;
            margin-bottom: 1rem;
          }
        }
      }
    }
  }
}


.continue-button {
  background-color: #6C5F8D;
  color: #fff;
  padding: 1rem 2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.5rem;
  transition: background-color 0.3s;
  width: 100%;
  text-align: center;
  margin-top: 2rem;
}

.continue-button:hover {
  background-color: #4B3F6E;
}