.main {
    width: 100%;
    min-height: 100vh;
    padding: 5rem 10rem;
    background-color: var(--verde-oscuro);
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
        color: var(--blanco);
        margin-bottom: 3rem;
    }

    .principal {
        padding: 2rem;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .checkcontainer {
            width: 30%;
        }
    }

    .proveedores {
        width: 100%;
        margin-top: 6rem;

        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}