.main {
    width: 100%;
    min-height: 100vh;
    padding: 3rem;
    padding-top: 8rem;

    background-color: var(--lila-fondo);

    .layout {
        width: 100%;
        min-height: 90vh;
        padding: 5rem;

        background-color: var(--blanco);
        border-radius: 3rem;

        .main_info {
            width: 100%;

            display: flex;
            align-items: center;
            justify-content: space-between;

            .chart {
                width: 50%;
            }

            .precio_final {
                width: 50%;
                display: flex;
                flex-direction: column;

                justify-content: center;
                align-items: center;

                h2 {
                    color: var(--azul-oscuro);
                    font-size: 3rem;
                    margin-bottom: 1rem;
                }

                p {
                    color: var(--lila-medio);
                    font-size: 1.5rem;
                    font-weight: 700;
                }
            }
        }

        .buttons {
            width: 100%;
            padding: 0 10rem;
            margin-top: 4rem;

            display: flex;
            justify-content: space-between;
        }
    }


}