.check {
    display: flex;
    align-items: center;
    width: 100%;
    min-width: 5rem;
    margin-bottom: 1rem;

    .box {
        width: 2rem;
        height: 2rem;
        margin-right: 1rem;

        display: flex;
        align-items: center;
        justify-content: center;
    
        border: var(--lila-medio) 2px solid;
        cursor: pointer;
    }

    .text {
        color: var(--negro);
    }
}
