.material {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid var(--lila-claro);

    &:last-child {
        border-bottom: none;
    }

    .trash {
        color: var(--lila-medio);
        font-size: 1.2rem;
        margin-right: 1rem;
        transition: color .2s;

        cursor: pointer;

        &:hover {
            color: var(--lila-oscuro);
        }
    }

    p {
        width: 60%;
        text-align: left;
        color: var(--lila-medio);
        margin: 0;
        font-size: 1.2rem;
    }
    
    .input {
        width: 50px;
        padding: 0.5rem;
        margin-left: 1rem;
        border: 1px solid var(--lila-claro);
        border-radius: 8px;
        text-align: center;
        font-size: 1rem;
    }
}
