.container {
    display: flex;
    flex-direction: column;

    .label {
        font-size: 1.25rem;
        margin-bottom: 0.5rem;
        color: var(--lila-oscuro);
    }

    .sortButton {
        background-color: var(--lila-medio);
        color: var(--blanco);
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        font-size: 1.25rem;
        transition: background-color 0.3s;
    }

}