/* styles/CreateProject.module.scss */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color:#BBB6D6 ; /* Background color from the provided palette */
}

.card {
  background: #fff;
  padding: 3rem; /* Increased padding */
  border-radius: 16px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  max-width: 800px; /* Increased max-width */
  width: 100%;
  background-color: #F7F8FC;
}
.buttoncontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  font-size: 2rem; /* Increased font size */
  margin-bottom: 2rem;
  color: #23255D; /* Darkest color from the palette */
  text-align: center;
}

.form-group {
  margin-bottom: 1.5rem;
  
}

.label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1.35rem; /* Increased font size */
  color: #4B3F6E; /* Darker color from the palette */
}

.input,
.textarea {
  width: 100%;
  padding: 1rem; /* Increased padding */
  border: 1px solid #BBB6D6; /* Light border color from the palette */
  border-radius: 8px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  background-color: #fff;
  color: #23255D;
}

.textarea {
  resize: vertical;
  min-height: 150px; /* Increased minimum height */
}

.button {
  background-color: #6C5F8D; /* Primary button color from the palette */
  color: #fff;
  padding: 1rem 2rem; /* Increased padding */
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.25rem; /* Increased font size */
  transition: background-color 0.3s;
  width: 50%;
  text-align: center;
}

.button:hover {
  background-color: #4B3F6E; /* Darker hover color */
}
