.main {
    width: 100%;
    min-height: 100vh;
    padding: 5rem 10rem;
    background-color: var(--verde-oscuro);

    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
        color: var(--blanco);
        margin-bottom: 3rem;
    }

    .principal {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .checkcontainer {
            width: 50%;
        }
    }

    .proveedores {
        width: 100%;
        margin-top: 6rem;

        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--amarillo);
        padding: 2rem;
        border-radius: 1rem;
        gap: 1rem;
    }

    a {
        color: var(--verde-oscuro);
        font-size: 1.2rem;
        text-decoration: none;
    }
}