.card {
    width: 40%;
    padding: 2rem;
    background-color: var(--verde-claro);
    box-shadow: 1px 6px 14px 0px var(--negro);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    border-radius: 1rem;

    .precio {
        color: var(--amarillo);
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    p {
        color: var(--blanco);
        font-size: 1.2rem;
    }
}