.main {
    width: 100%;
    min-height: 100vh;
    padding: 3rem;
    background-color: var(--lila-fondo);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .layout {
        width: 100%;
        min-height: 90vh;
        padding: 5rem;

        background-color: var(--blanco);
        border-radius: 3rem;

        .botones {
            width: 50%;
            margin: auto;

            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}