.card {
    width: 100%;
    height: 2rem;
    margin: 2rem 0;
    margin-top: 3rem;
    overflow: hidden;
    transition: height 0.3s ease;

    &.active {
        height: auto;
    }

    .title {
        width: 100%;
        margin-bottom: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .name {
            color: var(--azul-oscuro);

        }

        .estado {
            width: 80%;
            text-align: left;

            span {
                color: var(--lila-medio);
            }
        }

        .btn {
            background: transparent;
            border: none;
            cursor: pointer;
        }

        .icon {
            transition: transform 0.3s ease;
        }

        .rotated {
            transform: rotate(180deg);
        }
    }

    .content {
        padding: 1rem;

        .info {
            width: 100%;
            margin-bottom: 2rem;
        }

        .material {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;

            .categoria {
                width: 100%;
                font-size: .8rem;
                color: var(--azul-oscuro);
            }
    
            .nomb {
                width: 100%;
                text-align: left;
                color: var(--lila-oscuro);
                font-size: 1.2rem;
                margin-bottom: .5rem;
                font-weight: 700;
            }

            .desc {
                width: 100%;
                font-size: .8rem;
            }

            .cant {
                width: 20%;
            }
    
        }
    }



    .divider {
        width: 100%;
        height: 1px;
        margin: .7rem 0;
        background-color: var(--lila-medio);
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
}
