.main {
  width: 100%;
  min-height: 100vh;
  padding: 3rem;
  padding-top: 8rem;
  background-color: var(--lila-fondo);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .layout {
    width: 100%;
    min-height: 90vh;
    padding: 5rem;

    background-color: var(--blanco);
    border-radius: 3rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .title {
      text-align: center;
      margin-bottom: 1rem;
    }

    .headerSection {
      width: 100%;
      margin-bottom: 2rem;
    }

    .filters {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    .providerSelection {
      width: 100%;
      display: flex;
      
      .providers {
        width: 60%;

        .providerList {
          display: flex;
          flex-direction: column;
          width: 100%;
          margin-bottom: 2rem;
        }
  
        .selectedProviders {
          width: 100%;
          margin-bottom: 2rem;

          h2 {
            font-size: 1.3rem;
            color: var(--lila-oscuro);
            margin-bottom: 1rem;
            text-align: center;
          }

          .noProviders {
            text-align: center;
            color: var(--lila-medio);
            font-size: 1rem;
          }
        }
      }
    }


  }
}